<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <table bgcolor="#fdfdfd" style="box-sizing: border-box; border-spacing: 0; width: 100%; background-color: #fdfdfd; border-collapse: separate !important;" width="100%">
            <tbody>
                <tr>
                    <td style="box-sizing: border-box; padding: 0; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top;" valign="top">&nbsp;</td>
                    <td
                        style="
                            box-sizing: border-box;
                            padding: 0;
                            font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                            font-size: 16px;
                            vertical-align: top;
                            display: block;
                            width: 600px;
                            max-width: 600px;
                            margin: 0 auto !important;
                        "
                        valign="top"
                        width="600"
                    >
                        <div style="box-sizing: border-box; display: block; max-width: 600px; margin: 0 auto; padding: 10px;">
                            <span style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; width: 0;">Let's confirm your email address.</span>
                            <div style="box-sizing: border-box; width: 100%; margin-bottom: 30px; margin-top: 15px;">
                                <table style="box-sizing: border-box; width: 100%; border-spacing: 0; border-collapse: separate !important;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td
                                                align="left"
                                                style="box-sizing: border-box; padding: 0; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top; text-align: left;"
                                                valign="top"
                                            >
                                                <span>
                                                    <a
                                                        href="https://u298828.ct.sendgrid.net/ss/c/aJrxWzXarbnB62JtyTgHZh5XEDz4JqqJLmJngDXkiXpVV0LyaA0ZO26ibGXtVxzE6LS57o8OZJs25HtQESh8nyWQuGVCrCyn4QJ_juXOWIQBvZZBTa_XRUqBIUF1gNOw/3gp/OIcZcvJ7Txyb1omiCi_NVw/h0/Yjaz0XHH50YD78u1H-qBjwAIdt2HGyOzVXx8DsSXyD0"
                                                        style="box-sizing: border-box; color: #348eda; font-weight: 400; text-decoration: none;"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://u298828.ct.sendgrid.net/ss/c/aJrxWzXarbnB62JtyTgHZh5XEDz4JqqJLmJngDXkiXpVV0LyaA0ZO26ibGXtVxzE6LS57o8OZJs25HtQESh8nyWQuGVCrCyn4QJ_juXOWIQBvZZBTa_XRUqBIUF1gNOw/3gp/OIcZcvJ7Txyb1omiCi_NVw/h0/Yjaz0XHH50YD78u1H-qBjwAIdt2HGyOzVXx8DsSXyD0&amp;source=gmail&amp;ust=1636038743208000&amp;usg=AFQjCNEH7uHUZshMbhMh8D5g6lwuoiqY4Q"
                                                    >
                                                        <img
                                                            alt="SendGrid"
                                                            height="30"
                                                            src="https://ci5.googleusercontent.com/proxy/EcjfSmmeCY5IVY2tiuLUh7-cRGDg_BVGsXX53NYzuYJgJhjBvY8_BNJpKncfMYh4wnJLQpAI81Bsejwj5KKNRl5svc5h85K0ZnxlZefbilBSpv3vUxMtrA=s0-d-e1-ft#https://uiux.s3.amazonaws.com/style-guide/img/sg-twilio-lockup@2x.png"
                                                            style="max-width: 100%; border-style: none; height: 30px; width: 137px;"
                                                            width="137"
                                                        />
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="box-sizing: border-box; width: 100%; margin-bottom: 30px; background: #ffffff; border: 1px solid #f0f0f0;">
                                <table style="box-sizing: border-box; width: 100%; border-spacing: 0; border-collapse: separate !important;" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="box-sizing: border-box; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top; padding: 30px;" valign="top">
                                                <table style="box-sizing: border-box; width: 100%; border-spacing: 0; border-collapse: separate !important;" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="box-sizing: border-box; padding: 0; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top;"
                                                                valign="top"
                                                            >
                                                                <h2
                                                                    style="
                                                                        margin: 0;
                                                                        margin-bottom: 30px;
                                                                        font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                                                                        font-weight: 300;
                                                                        line-height: 1.5;
                                                                        font-size: 24px;
                                                                        color: #294661 !important;
                                                                    "
                                                                >
                                                                    You're on your way! <%= obj.salutation %> <%= obj.name %> <br />
                                                                    Let's confirm your email address.
                                                                </h2>
                                                                <p
                                                                    style="
                                                                        margin: 0;
                                                                        margin-bottom: 30px;
                                                                        color: #294661;
                                                                        font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                                                                        font-size: 16px;
                                                                        font-weight: 300;
                                                                    "
                                                                >
                                                                    By clicking on the following link, you are confirming your email address.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="box-sizing: border-box; padding: 0; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top;"
                                                                valign="top"
                                                            >
                                                                <table cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-spacing: 0; width: 100%; border-collapse: separate !important;" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td
                                                                                align="center"
                                                                                style="
                                                                                    box-sizing: border-box;
                                                                                    padding: 0;
                                                                                    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                                                                                    font-size: 16px;
                                                                                    vertical-align: top;
                                                                                    padding-bottom: 15px;
                                                                                "
                                                                                valign="top"
                                                                            >
                                                                                <table cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-spacing: 0; width: auto; border-collapse: separate !important;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td
                                                                                                align="center"
                                                                                                bgcolor="#348eda"
                                                                                                style="
                                                                                                    box-sizing: border-box;
                                                                                                    padding: 0;
                                                                                                    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                                                                                                    font-size: 16px;
                                                                                                    vertical-align: top;
                                                                                                    background-color: #348eda;
                                                                                                    border-radius: 2px;
                                                                                                    text-align: center;
                                                                                                "
                                                                                                valign="top"
                                                                                            >
                                                                                                <a
                                                                                                    href="https://u298828.ct.sendgrid.net/ss/c/KeecV0-eUYdPWIcLaNcQIk8KHRb5oSkirDE8JL2zHb4DT2amuRfbCmDyrEfijZZxOl7YT6GAwUifY1-88Vl_H1QR5QY_ZxeMhz4g6Hn8GBjW8Nq-dCOgyq0F2RBqhHrwGe0PqJk7WGIAFHxkuOoAbVF_39SqQfTYHL72XHRfPKetiLksh1zDD2QDy96Ml5DhqqpMhDGvx4MtLtIR4zzZdw/3gp/OIcZcvJ7Txyb1omiCi_NVw/h1/YZLYLC0VccWVdm_zLt10_8Ei2TGz79siEvEVtWkdE5s"
                                                                                                    style="
                                                                                                        box-sizing: border-box;
                                                                                                        border-color: #348eda;
                                                                                                        font-weight: 400;
                                                                                                        text-decoration: none;
                                                                                                        display: inline-block;
                                                                                                        margin: 0;
                                                                                                        color: #ffffff;
                                                                                                        background-color: #348eda;
                                                                                                        border: solid 1px #348eda;
                                                                                                        border-radius: 2px;
                                                                                                        font-size: 14px;
                                                                                                        padding: 12px 45px;
                                                                                                    "
                                                                                                    target="_blank"
                                                                                                    data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://u298828.ct.sendgrid.net/ss/c/KeecV0-eUYdPWIcLaNcQIk8KHRb5oSkirDE8JL2zHb4DT2amuRfbCmDyrEfijZZxOl7YT6GAwUifY1-88Vl_H1QR5QY_ZxeMhz4g6Hn8GBjW8Nq-dCOgyq0F2RBqhHrwGe0PqJk7WGIAFHxkuOoAbVF_39SqQfTYHL72XHRfPKetiLksh1zDD2QDy96Ml5DhqqpMhDGvx4MtLtIR4zzZdw/3gp/OIcZcvJ7Txyb1omiCi_NVw/h1/YZLYLC0VccWVdm_zLt10_8Ei2TGz79siEvEVtWkdE5s&amp;source=gmail&amp;ust=1636038743208000&amp;usg=AFQjCNFHz0anqp7m8KKUq7HPKLerDVRreA"
                                                                                                >
                                                                                                    Confirm Email Address
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="box-sizing: border-box; clear: both; width: 100%;">
                                <table style="box-sizing: border-box; width: 100%; border-spacing: 0; font-size: 12px; border-collapse: separate !important;" width="100%">
                                    <tbody>
                                        <tr style="font-size: 12px;">
                                            <td
                                                align="center"
                                                style="
                                                    box-sizing: border-box;
                                                    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                                                    vertical-align: top;
                                                    font-size: 12px;
                                                    text-align: center;
                                                    padding: 20px 0;
                                                "
                                                valign="top"
                                            >
                                                <span style="float: none; display: block; text-align: center;">
                                                    <a
                                                        href="https://u298828.ct.sendgrid.net/ss/c/aJrxWzXarbnB62JtyTgHZh5XEDz4JqqJLmJngDXkiXpVV0LyaA0ZO26ibGXtVxzE6LS57o8OZJs25HtQESh8nyWQuGVCrCyn4QJ_juXOWIQBvZZBTa_XRUqBIUF1gNOw/3gp/OIcZcvJ7Txyb1omiCi_NVw/h2/myu0pStOufbG0UsZxzX7LDaXXh96Tw5ZQNxpOH8pVlQ"
                                                        style="box-sizing: border-box; color: #348eda; font-weight: 400; text-decoration: none; font-size: 12px;"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://u298828.ct.sendgrid.net/ss/c/aJrxWzXarbnB62JtyTgHZh5XEDz4JqqJLmJngDXkiXpVV0LyaA0ZO26ibGXtVxzE6LS57o8OZJs25HtQESh8nyWQuGVCrCyn4QJ_juXOWIQBvZZBTa_XRUqBIUF1gNOw/3gp/OIcZcvJ7Txyb1omiCi_NVw/h2/myu0pStOufbG0UsZxzX7LDaXXh96Tw5ZQNxpOH8pVlQ&amp;source=gmail&amp;ust=1636038743208000&amp;usg=AFQjCNG3ag5LL1-MJrdzb-IxMW1nA3szig"
                                                    >
                                                        <img
                                                            alt="SendGrid"
                                                            height="20"
                                                            src="https://ci5.googleusercontent.com/proxy/EcjfSmmeCY5IVY2tiuLUh7-cRGDg_BVGsXX53NYzuYJgJhjBvY8_BNJpKncfMYh4wnJLQpAI81Bsejwj5KKNRl5svc5h85K0ZnxlZefbilBSpv3vUxMtrA=s0-d-e1-ft#https://uiux.s3.amazonaws.com/style-guide/img/sg-twilio-lockup@2x.png"
                                                            style="max-width: 100%; border-style: none; font-size: 12px; height: 20px; width: 91px;"
                                                            width="91"
                                                        />
                                                    </a>
                                                </span>
                                                <p style="color: #294661; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400; margin-bottom: 5px; margin: 10px 0 20px;">
                                                    Send with Confidence
                                                </p>
                                                <p style="margin: 0; color: #294661; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 12px; margin-bottom: 5px;">
                                                    © SendGrid Inc. 1801
                                                    <a href="https://www.google.com/maps/search/California+Street,+Suite+500,+Denver,+CO+80202+USA?entry=gmail&amp;source=g">California Street, Suite 500, Denver, CO 80202 USA</a>
                                                </p>
                                                <p style="margin: 0; color: #294661; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: 300; font-size: 12px; margin-bottom: 5px;">
                                                    <a
                                                        href="https://u298828.ct.sendgrid.net/ss/c/aJrxWzXarbnB62JtyTgHZod5YIKSHURpGzKJw7a09DMROfaaHE_qPsa04x8bum_FFJQFihPZ9lDYiu96y2sOTz1r_aEtCBRg3GhUuWOEHiD6_07eE0rwUj6SR5BSasCv/3gp/OIcZcvJ7Txyb1omiCi_NVw/h3/tgAiCzzy7od1AyhJ9J9CJVE8-cUQkov9UoAQCJBHRLE"
                                                        style="box-sizing: border-box; color: #348eda; font-weight: 400; text-decoration: none; font-size: 12px; padding: 0 5px;"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://u298828.ct.sendgrid.net/ss/c/aJrxWzXarbnB62JtyTgHZod5YIKSHURpGzKJw7a09DMROfaaHE_qPsa04x8bum_FFJQFihPZ9lDYiu96y2sOTz1r_aEtCBRg3GhUuWOEHiD6_07eE0rwUj6SR5BSasCv/3gp/OIcZcvJ7Txyb1omiCi_NVw/h3/tgAiCzzy7od1AyhJ9J9CJVE8-cUQkov9UoAQCJBHRLE&amp;source=gmail&amp;ust=1636038743209000&amp;usg=AFQjCNEWU75QOTlVLXMwqbbiOszlIBl7CA"
                                                    >
                                                        Blog
                                                    </a>
                                                    <a
                                                        href="https://u298828.ct.sendgrid.net/ss/c/poE2veomcy6ylfr_Ro2nmJBxBtdj2jlD_pc-sebDocM8ko394IziGpDMpT4ZGZ-LEXGBGghf9N-ccSv89MC78imVixiLg8UAB6hsAS5MebJefIHn_46zAm7CkA9251kmZMmPuc7tl3LQ2PZKCucmIA/3gp/OIcZcvJ7Txyb1omiCi_NVw/h4/SJ-oYfIs0kO3KVLbzVm-6Me0j7Td_AExjiAM0v0IHQQ"
                                                        style="box-sizing: border-box; color: #348eda; font-weight: 400; text-decoration: none; font-size: 12px; padding: 0 5px;"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://u298828.ct.sendgrid.net/ss/c/poE2veomcy6ylfr_Ro2nmJBxBtdj2jlD_pc-sebDocM8ko394IziGpDMpT4ZGZ-LEXGBGghf9N-ccSv89MC78imVixiLg8UAB6hsAS5MebJefIHn_46zAm7CkA9251kmZMmPuc7tl3LQ2PZKCucmIA/3gp/OIcZcvJ7Txyb1omiCi_NVw/h4/SJ-oYfIs0kO3KVLbzVm-6Me0j7Td_AExjiAM0v0IHQQ&amp;source=gmail&amp;ust=1636038743209000&amp;usg=AFQjCNE3froKkM95eq4JKL2P5-ZGafSmiw"
                                                    >
                                                        GitHub
                                                    </a>
                                                    <a
                                                        href="https://u298828.ct.sendgrid.net/ss/c/nf0RiBa0cBb3Zw-MD73wzUaCuz7rjp_J-Qb6sEryuxAhTQhx0R3dNxD5XezqXe898TD3MtBPdE9jYgV4_hp3ezB3bTNN8Boy6Ts8g8dKtLrWQghO_Ph_-U8kaJZRzohR0sON7JocZ3CHSG4RZZjOEA/3gp/OIcZcvJ7Txyb1omiCi_NVw/h5/5M5Eu01MjxPOfVlveYgYXuT6lqiVAYuw6HGN-1WZg6c"
                                                        style="box-sizing: border-box; color: #348eda; font-weight: 400; text-decoration: none; font-size: 12px; padding: 0 5px;"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://u298828.ct.sendgrid.net/ss/c/nf0RiBa0cBb3Zw-MD73wzUaCuz7rjp_J-Qb6sEryuxAhTQhx0R3dNxD5XezqXe898TD3MtBPdE9jYgV4_hp3ezB3bTNN8Boy6Ts8g8dKtLrWQghO_Ph_-U8kaJZRzohR0sON7JocZ3CHSG4RZZjOEA/3gp/OIcZcvJ7Txyb1omiCi_NVw/h5/5M5Eu01MjxPOfVlveYgYXuT6lqiVAYuw6HGN-1WZg6c&amp;source=gmail&amp;ust=1636038743209000&amp;usg=AFQjCNHEkKuuHdceZc777Ox4yE0RVTlWOg"
                                                    >
                                                        Twitter
                                                    </a>
                                                    <a
                                                        href="https://u298828.ct.sendgrid.net/ss/c/6BjF4NuCrD95SSp8XzpujnUSEaMzg6VcI9g2QJaIXF2ws9ajxjlcG-3pyovjRtF7IpVGrnghmfiX-QvPhMxxsO-W2mCyVlcaii39WI4xnyAOxml9kEo-0IAawKStYAhUtNWirl_-Cb_W_IOq9cJxCA/3gp/OIcZcvJ7Txyb1omiCi_NVw/h6/se_g_M97tdkIjx6lnesrwanS8fEf3J8Gs2l1wtopqM4"
                                                        style="box-sizing: border-box; color: #348eda; font-weight: 400; text-decoration: none; font-size: 12px; padding: 0 5px;"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://u298828.ct.sendgrid.net/ss/c/6BjF4NuCrD95SSp8XzpujnUSEaMzg6VcI9g2QJaIXF2ws9ajxjlcG-3pyovjRtF7IpVGrnghmfiX-QvPhMxxsO-W2mCyVlcaii39WI4xnyAOxml9kEo-0IAawKStYAhUtNWirl_-Cb_W_IOq9cJxCA/3gp/OIcZcvJ7Txyb1omiCi_NVw/h6/se_g_M97tdkIjx6lnesrwanS8fEf3J8Gs2l1wtopqM4&amp;source=gmail&amp;ust=1636038743209000&amp;usg=AFQjCNEMhZArjaBBTzsSP771wdc7XtBl2w"
                                                    >
                                                        Facebook
                                                    </a>
                                                    <a
                                                        href="https://u298828.ct.sendgrid.net/ss/c/6BjF4NuCrD95SSp8XzpujmDxm1JH5OuoZX5dC1VxTYT8OdD42xFHUU_JV93Czl-LY24HF-3DVeUIP94wswG96ZieLv6A-d0yiNaF2chi7mSoddFIFGqdZ9ztmg-1CUBMEFmMUfE0krwm6R1DeDvyOg/3gp/OIcZcvJ7Txyb1omiCi_NVw/h7/Z7YxlCzln1aioLwq9JoCyW_6OvA4UeFzNd-DkTFh2UE"
                                                        style="box-sizing: border-box; color: #348eda; font-weight: 400; text-decoration: none; font-size: 12px; padding: 0 5px;"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://u298828.ct.sendgrid.net/ss/c/6BjF4NuCrD95SSp8XzpujmDxm1JH5OuoZX5dC1VxTYT8OdD42xFHUU_JV93Czl-LY24HF-3DVeUIP94wswG96ZieLv6A-d0yiNaF2chi7mSoddFIFGqdZ9ztmg-1CUBMEFmMUfE0krwm6R1DeDvyOg/3gp/OIcZcvJ7Txyb1omiCi_NVw/h7/Z7YxlCzln1aioLwq9JoCyW_6OvA4UeFzNd-DkTFh2UE&amp;source=gmail&amp;ust=1636038743209000&amp;usg=AFQjCNE7fQuJBe3MvTOjPc65XuGrzzmzmA"
                                                    >
                                                        LinkedIn
                                                    </a>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td style="box-sizing: border-box; padding: 0; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; vertical-align: top;" valign="top">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
